* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3E5D8;
}

@font-face {
    font-family: "YoungSerif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/static/Outfit-Regular.ttf);
}

main {
    margin: 50px auto;
    border-radius: 15px;
    width: 50%;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    font-family: "YoungSerif", sans-serif;
    background-color: white;
    color: #767270;
}

img {
    border-radius: 15px;
}

main>*:not(h1, h2, h3, h4, h5) {
    padding-block: 20px;
}

h1 {
    color: black;
}

h2 {
    color: #6F402D;
}

h3{
    margin-bottom: 10px;
    color: #672F45;
} 

.font {
    font-family: "Outfit", sans-serif;
}

span {
    font-weight: bold;
    color: black;
}

li {
    width: 90%;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 30px;
}

li::marker {
    color: #6F402D;
    font-weight: bold;
}

figure {
    width: 100%;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.timing {
    /* border: 1px solid black; */
    padding-left: 20px;
    background-color: #FFF8FC;
    border-radius: 10px;
}

.timing li {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom:15px;
}

table {
    font-weight: bold;
    padding: 0;
}

td {
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid #767270;
    
}

.color {
    color: #6F402D;
}

@media (width <= 650px) {
    main {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

@media (max-width: 450px) {
    main {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}